</br>
<div class=" x_panel  ">
    <div class="x_title">
        <h2>专业类别配置/专业类别管理
            <small>- 专业类别管理</small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="content">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <strong>描述!</strong> 专业类别管理.
        </div>
        <div class="row">
            <div class="form-inline col-xs-12">
                <form id="searchForm" data-url="ajax_spectityType_query_list">
                    <a class="i_modal btn btn-default buttons-copy buttons-html5 btn-sm" data-title="添加信息"
                       data-url="_addSpectityInfoForm"><span><i class="green fa fa-plus"></i>新增</span></a>
                    <a class="btn btn-default buttons-copy buttons-html5 btn-sm" id="deleteType" tabindex="0"
                       aria-controls="datatable-buttons"><span><i
                            class="red fa fa-remove"></i>删除</span></a>
                    <div class="form-group  " style="margin-bottom: 5px;margin-top: 0px;padding-left: 70%" >
                        <label class="control-label">专业类别:
                        </label>
                        <label class="control-label">
                            <input type="text" id="spectityType"  name="specialtyType" class="form-control col-xs-3">
                        </label>
                    </div>
                    <input type="button" class="btn btn-default buttons-copy buttons-html5 btn-sm" id="specitityQueryBtn" value="查询">
                </form>
            </div>
        </div>
        <div id="table"></div>
        <div class="col-lg-10 dataTables_paginate  ">
            <ul class="pagination "></ul>
        </div>
    </div>
</div>
<script>
    require(["app/carInfo/specialtyTypeInfo"]);
</script>
