$ui.loadCss("select2/select2.min.css")
<input type="hidden" id="formDeliverApplyDto" value="$formDeliverApplyDto.formNo">

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="projectName" value="$formDeliverApplyDto.projectName">
        <label class=" col-xs-12" >
            项目名称: #if($scId)<a href="/detailInfo?id=$scId&projectID=$projectID"><font style="color: #0077b3">#end$formDeliverApplyDto.projectName#if($scId)</font></a>#end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="assumeCompany" value="$formDeliverApplyDto.assumeCompany">
        <label class="col-xs-12" >
            主要完成单位: $formDeliverApplyDto.assumeCompany
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="leader" value="$formDeliverApplyDto.leader">
        <label class=" col-xs-12" >
            项目长:
            #if($formDeliverApplyDto.leaderName)
            $formDeliverApplyDto.leaderName
            #end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="groupMembers" value="$formDeliverApplyDto.groupMembers">
        <label  class=" col-xs-12" >
            主要完成人员:
            #if($formDeliverApplyDto.groupMembers)
            $formDeliverApplyDto.groupMembers
            #end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="specialtyType" value="$formDelayApplyDto.specialtyType">
        <label class=" col-xs-12" >
            专业分类:
            #if($formDeliverApplyDto.specialtyType)
            $formDeliverApplyDto.specialtyType
            <!--#if($formDeliverApplyDto.specialtyType=="01")-->
            <!--油气勘探-->
            <!--#end-->
            <!--#if($formDeliverApplyDto.specialtyType=="02")-->
            <!--油气开发-->
            <!--#end-->
            <!--#if($formDeliverApplyDto.specialtyType=="03")-->
            <!--炼油化工-->
            <!--#end-->
            <!--#if($formDeliverApplyDto.specialtyType=="04")-->
            <!--油气集输-->
            <!--#end-->
            <!--#if($formDeliverApplyDto.specialtyType=="05")-->
            <!--计算机-->
            <!--#end-->
            <!--#if($formDeliverApplyDto.specialtyType=="06")-->
            <!--软科学-->
            <!--#end-->
            <!--#if($formDeliverApplyDto.specialtyType=="07")-->
            <!--安全环保-->
            <!--#end-->
            #end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="joinComopany" value="$formDeliverApplyDto.joinComopany">
        <label class="col-xs-12" >
            主要协作单位:
            #if($formDeliverApplyDto.joinComopany)
            $formDeliverApplyDto.joinComopany
            #end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="beginTime" value="$formDeliverApplyDto.beginTime">
        <label class="col-xs-12" >
            开始时间:
            #if($formDeliverApplyDto.beginTime)
            $formDeliverApplyDto.beginTime
            #end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="endTime" value="$formDeliverApplyDto.endTime">
        <label class="col-xs-12" >
            结束时间:
            #if($formDeliverApplyDto.endTime)
            $formDeliverApplyDto.endTime
            #end
        </label>
    </div>
</div>
<!--<br/><br/><br/><br/><br/><hr/>-->
<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="ztc" value="$formDeliverApplyDto.ztc">
        <label class="col-xs-12" >
            主题词:
            #if($formDeliverApplyDto.ztc)
            $formDeliverApplyDto.ztc
            #end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="sxyx" value="$formDeliverApplyDto.sxyx">
        <label class="col-xs-12">
            三新一性:
            #if($formDeliverApplyDto.sxyx)
            $formDeliverApplyDto.sxyx
            #end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="nrzy" value="$formDeliverApplyDto.nrzy">
        <label  class="col-xs-12">
            内容摘要:
            #if($formDeliverApplyDto.nrzy)
            $formDeliverApplyDto.nrzy
            #end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="zllxjsl" value="$formDeliverApplyDto.zllxjsl">
        <label  class="col-xs-12"  >
            专利类型及数量:
            #if($formDeliverApplyDto.zllxjsl)
            $formDeliverApplyDto.zllxjsl
            #end
        </label>
    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><hr/>
<!--<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="zllxjsl" value="$formDeliverApplyDto.zllxjsl">
        <label  class="col-xs-12"  >
            基层领导批示:
            #if($formDeliverApplyDto.proficientOpinion)
            $formDeliverApplyDto.proficientOpinion
            #end
        </label>
    </div>
</div>
<br/><hr/>-->
#if($viewOnly=="false")
<div class="col-lg-1  pull-right">
    <a class="label label-default" data-title="批量审核" href="syy_kg06_pl3?formNo=$formDeliverApplyDto.formNo"><i class="green fa "></i>批量审核项目</a>
</div>
#end

<script>
    require(['app/deliverables_flow/syy_kg_lc06_v3']);
</script>
