<style>
    span.select2-dropdown.select2-dropdown--below {
        width: 60.8% !important;
    }
    ul#select2-groupMemberList1-xx-results {
        width: 100% !important;
    }
    span.select2-container.select2-container--default.select2-container--open {
        width: 100% !important;
    }
    span.select2-selection.select2-selection--multiple {
        width: 83.33% !important;
    }
</style>

$ui.loadCss("select2/select2.min.css")
<input type="hidden" id="formDeliverApplyDto" value="$formDeliverApplyDto.formNo">

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="projectName" value="$formDelayApplyDto.projectName">
        <label class=" col-xs-12" >
            项目名称: #if($scId)<a href="/detailInfo?id=$scId&projectID=$projectID"><font style="color: #0077b3">#end$formDeliverApplyDto.projectName#if($scId)</font></a>#end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="assumeCompany" value="$formDelayApplyDto.assumeCompany">
        <label class="col-xs-12" >
            主要完成单位: $formDeliverApplyDto.assumeCompany
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="leaderName" value="$formDelayApplyDto.leaderName">
        <label class=" col-xs-12" >
            项目长:
            #if($formDeliverApplyDto.leaderName)
            $formDeliverApplyDto.leaderName
            #end
        </label>
    </div>
</div>



<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="specialtyType" value="$formDelayApplyDto.specialtyType">
        <label class=" col-xs-12" >
            专业分类:
            #if($formDeliverApplyDto.specialtyType)
            $formDeliverApplyDto.specialtyType
            #end
        </label>
    </div>
</div>



<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="beginTime" value="$formDelayApplyDto.beginTime">
        <label class="col-xs-12" >
            开始时间:
            #if($formDeliverApplyDto.beginTime)
            $formDeliverApplyDto.beginTime
            #end
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label col-xs-12">
        <input type="hidden"  name="endTime" value="$formDelayApplyDto.endTime">
        <label class="col-xs-12" >
            结束时间:
            #if($formDeliverApplyDto.endTime)
            $formDeliverApplyDto.endTime
            #end
        </label>
    </div>
</div>

<!--<div class="form-group col-xs-4">-->
    <!--<div class="control-label col-xs-12">-->
        <!--<label class="col-xs-12">-->
            <!--主要完成人员:-->
            <!--#if($formDeliverApplyDto.groupMembers)-->
            <!--$formDeliverApplyDto.groupMembers-->
            <!--#end-->
        <!--</label>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="form-group col-xs-4">-->
    <!--<div class="control-label col-xs-12">-->
        <!--<label class="col-xs-12">-->
            <!--主要协作单位:-->
            <!--#if($formDeliverApplyDto.joinComopany)-->
            <!--$formDeliverApplyDto.joinComopany-->
            <!--#end-->
        <!--</label>-->
    <!--</div>-->
<!--</div>-->
#if($viewOnly=="true")
#end
<!--<br/><br/><br/><br/><br/><hr/>-->

    <div class="form-group col-xs-4">
        <div class="control-label col-xs-12">
            <label class="col-xs-12">
                主要完成人员:
                #if($formDeliverApplyDto.groupMembers)
                $formDeliverApplyDto.groupMembers
                #end
            </label>
        </div>
    </div>

    <div class="form-group col-xs-4">
        <div class="control-label col-xs-12">
            <label class="col-xs-12">
                主要协作单位:
                #if($formDeliverApplyDto.joinComopany)
                $formDeliverApplyDto.joinComopany
                #end
            </label>
        </div>
    </div>
    <!--<input type="hidden" value="$formDeliverApplyDto.groupMembers" name="groupMembers" id="groupMembers">-->
    <!--<label class="col-xs-2" style="text-align: right">-->
    <!--主要完成人员:-->
    <!--</label>-->
    <!--<div class="col-xs-10">-->
    <!--<select class="select2_multiple form-control txtValue1 col-xs-10" multiple="$formDeliverApplyDto.groupMembers" tabindex="-1" name="groupMemberList1" required="required">-->
    <!--#if($emp)-->
    <!--#foreach($people in $emp)-->
    <!--<option value="$people.name"  data-value="$people.id">$people.name</option>-->
    <!--#end-->
    <!--#end-->
    <!--</select>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group col-xs-12">-->
    <!--<label class="col-xs-2" style="text-align: right">-->
    <!--主要协作单位:-->
    <!--</label>-->
    <!--<div class="col-xs-10">-->
    <!--<textarea required="required"  name="joinComopany" class="col-xs-10">#if($formDeliverApplyDto.joinComopany)$formDeliverApplyDto.joinComopany#end</textarea>-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group col-xs-4">
        <div class="control-label col-xs-12">
            <label class="col-xs-12">
                主题词:
                #if($formDeliverApplyDto.ztc)
                $formDeliverApplyDto.ztc
                #end
            </label>
        </div>
    </div>

    <div class="form-group col-xs-4">
        <div class="control-label col-xs-12">
            <label class="col-xs-12">
                三新一性:
                #if($formDeliverApplyDto.sxyx)
                $formDeliverApplyDto.sxyx
                #end
            </label>
        </div>
    </div>
    <div class="form-group col-xs-4">
        <div class="control-label col-xs-12">
            <label class="col-xs-12">
                内容摘要:
                #if($formDeliverApplyDto.nrzy)
                $formDeliverApplyDto.nrzy
                #end
            </label>
        </div>
    </div>

    <div class="form-group col-xs-4">
        <div class="control-label col-xs-12">
            <label class="col-xs-12">
                专利类型及数量:
                #if($formDeliverApplyDto.zllxjsl)
                $formDeliverApplyDto.zllxjsl
                #end
            </label>
        </div>
    </div>
    <!--<div class="form-group col-xs-12">-->
    <!--<label class="control-label col-xs-2" style="text-align: right">-->
    <!--主题词:-->
    <!--</label>-->
    <!--<div class="col-xs-10">-->
    <!--<textarea name="ztc" class="col-xs-10" required="required"></textarea>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group col-xs-12">-->
    <!--<label class="control-label col-xs-2"  style="text-align: right">-->
    <!--三新一性:-->
    <!--</label>-->
    <!--<div class="col-xs-10">-->
    <!--<textarea name="sxyx" class="col-xs-10" required="required"></textarea>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group col-xs-12">-->
    <!--<label  class="col-xs-2"  style="text-align: right">-->
    <!--内容摘要:-->
    <!--</label>-->
    <!--<div class="col-xs-10">-->
    <!--<textarea name="nrzy" class="col-xs-10" required="required"></textarea>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group col-xs-12">-->
    <!--<label  class="col-xs-2"  style="text-align: right" >-->
    <!--专利类型及数量:-->
    <!--</label>-->
    <!--<div class="col-xs-10">-->
    <!--<textarea required="required"   name="zllxjsl" class="col-xs-10"  required="required"></textarea>-->
    <!--</div>-->
    <!--</div>-->
#if($viewOnly=="false")
<br/><br/><br/><br/><br/><br/><br/><hr/>
<div class="col-lg-1  pull-right">
    <a class="label label-default" data-title="批量审核" href="syy_kg06_pl1?formNo=$formDeliverApplyDto.formNo"><i class="green fa "></i>批量审核项目</a>
</div>
#end

    <script>
        require(['app/deliverables_flow/syy_kg_lc06_v1']);
    </script>