$ui.loadCss("bootstrap-multiselect/bootstrap-multiselect.css")
<input type="hidden" id="datastep" name="datastep"value="$clstep"/>
<form id="approveFormLot">

    <div class="x_panel">
        <div class="x_content">
            <div>
                <label>审核意见：</label>
            </div>
            <div>
                <textarea class="form-control" style="margin: 0px -0.5px 0px 0px; width: 100%; height: 100px;" id="allContent"></textarea>
            </div>
        </div>
    </div>
</form>
<form id="searchForm">
    <div class="form-inline col-xs-10 col-xs-offset-5" >
        <div class="control-label" style="position: relative;top: -0.5em">
            <input type="hidden"  id="failAllQueryBtn" value="">
        </div>
        <!--   </div>-->
    </div>
</form>
    <div id="table1"></div>
    <div class="col-lg-10 dataTables_paginate  ">
        <ul class="pagination "></ul>
    </div>
</div>
<input type="hidden" id="hidname" name="hidname"/>
<!--<input id="hidid" name="hidid" value="<%=moren.id%>"/>-->
<script>
    require(["app/deliverables_flow/syy_kg_lc06_a_lot"]);
</script>




