</br>
<div class=" x_panel  ">
    <div class="x_title">
        <h2>考勤考勤管理/
            <small>- 考勤统计</small>
        </h2>
        <div class="clearfix"></div>
    </div>

    <div class="content">

        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <strong>描述!</strong> 单位考勤统计/审核.
            <input type="hidden" value="attendanceStatistics" id="ajax_attend">
        </div>

        <div class="row ">

            <label class="control-label text-center text-danger col-md-12"><h3><strong>考勤信息统计</strong></h3>
            </label>

            <div class="pull-right">

                <form id="js_attend_dowload_forms" style="display: none;" action="dowload_attend">
                    <input id="sTeginDate" type="hidden"  name="sBeginDate" value="">
                    <input id="sEndDate" type="hidden"  name="sEndDate" value="">
                    <input type="hidden" id="empName"  name="empName">
                    <input type="hidden" id="deptId" name="deptId">
                </form>

                <form class="form-inline form col-xs-12 " style="margin-left: 10px;margin-bottom: 15px;" id="searchForm"   data-url="ajax_attendanceStatistics_Query_list">
                    <!--<div class="form-group">-->
                        <!--<a id="DowLoadADS" style="border: 1px solid #E1E1E1;padding: 6px 8px;background-color: #E1E1E1;">下载</a>-->

                    <!--</div>-->
                    <div class="form-group" >
                        <a id="js_attendDowload" style="border: 1px solid #E1E1E1;padding: 6px 8px;background-color: #E1E1E1;">下载</a>
                    </div>
                    #if(!$isDept)
                    <div class="form-group">
                        <label for="ew">部门:</label>
                        <select id="ew" class="form-control" data-parsley-id="9809" name="deptId">

                                <option value="0">请选择</option>
                                #if($deptAll)
                                #foreach($bean in $deptAll)
                                <option value="$bean.id" >$bean.deptName</option>
                                #end
                                #end
                        </select>
                    </div>
                    #end
                    <!--<div class="form-group">-->
                        <!--<label class="control-label">时间</label>-->
                        <!--<input type="text" class="form-control js_date mini-width Wdate2"-->
                               <!--name="selectDate" value="$NowTime" placeholder="选择查看时间" >-->
                    <!--</div>-->

                    <div class="form-group" >
                        <label for="beginDate" class="control-label">开始日期:</label>
                        <input id="beginDate" type="text" class="form-control Wdate beginDate" name="beginDate" value="$!beginDate">
                    </div>
                    <div class="form-group" >
                        <label for="endDate" class="control-label">结束日期:</label>
                        <input id="endDate" type="text" class="form-control Wdate endDate" name="endDate" value="$!endDate">
                    </div>

                    <div class="form-group">
                        <label class="control-label" >姓名
                        </label>  <input type="text" id="loginName" class="form-control "  name="empName">
                        <input type="button" class="btn btn-default" id="eqBtn" value="查询" style="position: relative;top: 0.2em;">
                    </div>


                </form>
            </div>
        </div>
    </div>
    <div id="table" >

    </div>
    <div class="col-lg-10 dataTables_paginate  ">
            <ul class="pagination "></ul>
    </div>
</div>

<script>
    require(["app/attendance/empAttendance"]);
</script>