</br>
<div class=" x_panel  ">
    <div class="x_title">
        <h2>系统管理/论著信息管理
            <small>- 论著信息管理</small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="content">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <strong>描述!</strong> 论著信息管理.
        </div>
        <div class="row">
<!--            <div class=" btn-group  col-xs-2" style="width: 10%">
                <a class=" btn btn-default buttons-copy buttons-html5 btn-sm" data-title="添加论著信息"
                   href="_addbooksForm"><span><i class="green fa fa-plus"></i>新增</span></a>

                <a class="btn btn-default buttons-copy buttons-html5 btn-sm" id="deleteBooks" tabindex="0"
                   aria-controls="datatable-buttons"><span><i
                        class="red fa fa-remove"></i>删除</span></a>
            </div>-->
            <div class="form-inline col-xs-8" >
                <form id="searchForm" data-url="ajax_book_query_list">
                    <div style="padding-bottom: 5px">
                    <label class="control-label">论著名称:&nbsp;</label>
                    <input type="text" class="form-control " style="width: 16%" name="treatise_Name">
                    <label class="control-label">论著级别:</label>
                    <label class="control-label">
                    <select id="treatise_Level" required="required" name="treatise_Level" class="form-control col-xs-7" data-parsley-id="0004">
                        <option value="">请选择</option>
                        <option value="1" #if($treatise_level.equals('1')) selected #end>国家级</option>
                        <option value="2" #if($treatise_level.equals('2')) selected #end>省部级</option>
                        <option value="3" #if($treatise_level.equals('3')) selected #end>油田公司级</option>
                        <option value="4" #if($treatise_level.equals('4')) selected #end>厂处级</option>
       <!--                 <option value="">请选择</option>
                        #if($typeOfTreatise)
                        #foreach($bean in $typeOfTreatise)
                        <option value="$bean.Type_Treatise_Name">$bean.Type_Treatise_Name</option>
                        #end
                        #else
                        <d>暂无数据</d>
                        #end-->
                    </select>
                    </label>
                    <label class="control-label">出版社/刊物名称:</label>
                    <input type="text" class="form-control " style="width: 16%" name="treatise_Press">
                    <label class="control-label">是否核心:</label>
                    <label class="control-label">
                    <select id="is_Core" name="is_Core" class="form-control" data-parsley-id="0004">
                        <option value="">请选择</option>
                        <option value="true" #if($is_core ==true) selected #end>是</option>
                        <option value="false" #if($is_core ==false) selected #end>否</option>
                    </select>
                    </label>
                    </div>

                    <label class="control-label">书/期刊号:</label>
                    <input type="text" class="form-control " style="width: 16%" name="make_No">
                    <label class="control-label">是否合著:</label>
                    <select id="is_cooperate" name="is_cooperate" class="form-control" style="width: 10%;" >
                        <option value="">请选择</option>
                        <option value="true" #if($is_cooperate ==true) selected #end>是</option>
                        <option value="false" #if($is_cooperate ==false) selected #end>否</option>
                    </select>
                    <label class="control-label">发表/出版单位:</label>
                    <input type="text" class="form-control"  style="width: 16%" name="unit">
                    <label class="control-label">发表/出版时间:</label>
                    <input type="text" class="form-control  Wdate" id="begin_Date"  readonly placeholder="开始时间" name="begin_Date">
                    <label class="control-label">~</label>
                    <input type="text" class="form-control Wdate"  readonly id="end_Date" placeholder="截止时间" name="end_Date">
                    <label class="control-label">
                        <input type="button" class="btn btn-default" id="booksQueryBtn" value="查询" style="margin-top: 5px">
                    </label>
                </form>
            </div>
        </div>
        <div id="table"></div>
        <div class="col-lg-10 dataTables_paginate  ">
            <ul class="pagination "></ul>
        </div>
    </div>
</div>
<script>
    require(["app/userAchievements/books"]);
</script>
