</br>
<style>

    .form-inline .form-control {
        display: inline-block;
        vertical-align: middle;
        width: 117px;
    }

</style>
<div class=" x_panel  ">
    <div class="x_title">
        <h2>外派培训信息查询</h2>
        <div class="clearfix"></div>
    </div>
    <div class="content">
      <div class="alert alert-info alert-dismissible fade in" role="alert">
            <strong>描述!</strong> 外派培训信息查看.
        </div>
        <div class="row">

            <div class="form-inline" style="text-align:right;padding-bottom: 10px;">

                <form id="js_business_list" action="dowload_train_count_emp">

                    <input type="hidden" id="sname" class="form-control" style="min-width: 160px;" name="sname">
                    <input type="hidden" id="sbeginDate" class="form-control Wdate " name="sbeginDate">
                    <input type="hidden" id="sendDate" class="form-control Wdate " name="sendDate">
                    <input type="hidden" id="strainName" class="form-control"  name="strainName">
                </form>

                <form  id="searchForm"  class="" data-url="ajax_query_train_emp">

                    <div class="form-group">
                        <input class="js_business_download" style="border: none;width: 45px;text-align: center;height: 30px;line-height: 30px;background: #e1e1e1;cursor: pointer;" value="下载">

                    </div>

                    <div class="form-group">
                        <label class="control-label ">姓名
                        </label>
                        <input type="text" id="name" class="form-control" style="min-width: 160px;" name="name">
                    </div>

                    <div class="form-group">
                        <label class="control-label">培训开始时间</label>
                        <input type="text" id="beginDate" class="form-control Wdate " name="beginDate"> ~
                        <input type="text" id="endDate" class="form-control Wdate " name="endDate">
                    </div>

                    <div class="form-group">
                        <label class="control-label" >培训名称
                        </label>  <input type="text" id="trainName" class="form-control " name="trainName">
                        <input type="button" class="btn btn-default" id="empQueryBtn1" value="查询" style="position:relative;top: 0.2em">
                    </div>
                </form>
            </div>
        </div>
        <div id="table1"></div>
        <div class="col-lg-10 dataTables_paginate  ">
            <ul class="pagination "></ul>
        </div>
    </div>
</div>
<script>
    require(["app/user/queryTrainEmp"]);
</script>