
<div class=" " style="text-align: left;width: 500px">
    <div class="col-xs-offset-2" >
        <div><label class="" style="font-size: larger;margin-top: 5px;">提案标题：$!beans.title</label></div>


        <div><label style="font-size: larger;margin-top: 5px;">申请人：$!beans.applyerName</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">申请单位：$!beans.deptName</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">电话：$!beans.phone</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">邮箱：$!beans.mail</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">附议人：$!beans.proposalPerson</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">类别：$!beans.type</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">建议承办部门：$!beans.undertakeDept</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">申请时间：$help.formatDateToString($!beans.time,"yyyy-MM-dd")</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">案由：$!beans.reason</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">提案内容：$!beans.content</label></div>



    </div>
</div>



