
<div class=" " style="text-align: left;width: 500px">
    <div class="col-xs-offset-2" >
        <div><label class="" style="font-size: larger;margin-top: 5px;">项目名称：$!beans.projectName</label></div>
        <div><label style="font-size:larger;margin-top: 5px;">竞赛主题：$!beans.competitionTitle</label></div>
        <div><label style="font-size:larger;margin-top: 5px;">竞赛类别：$!beans.competitionType</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">竞赛负责人：$!beans.leader</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">竞赛单位：$!beans.competitionUnit</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">主要参与人：$!beans.joinPeople</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">申报时间：$help.formatDateToString($!beans.cpmpetitionTime,"yyyy-MM-dd")</label></div>

        <div><label style="font-size: larger;margin-top: 5px;">现状说明：$!beans.situationExplain</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">立项依据：$!beans.projectBasis</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">控制措施：$!beans.controlAction</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">进度安排：$!beans.scheduleArrange</label></div>
        <div><label style="font-size: larger;margin-top: 5px;">预期效果：$!beans.expectResult</label></div>

        <div><label style="font-size: larger;margin-top: 5px;">附件：<a href="downloadFile?id=$!beans.fileId">$!beans.fileName</a></label></div>




    </div>
</div>



