<div class=" x_panel  ">
    <div class="x_title">
        <h2>系统管理/党群科信息管理
            <small>- 职工提案信息管理</small>
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="content">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <strong>描述!</strong> 职工提案数据统计.
        </div>
        <div class="row">
            <div class=" btn-group  ">
                <!--<a class="i_modal btn btn-default buttons-copy buttons-html5 btn-sm" data-title="添加车辆信息"
                   data-url="_addCarInfoForm"><span><i class="green fa fa-plus" ></i>新增</span></a>

                <a class="btn btn-default buttons-copy buttons-html5 btn-sm" id="deleteCar"  tabindex="0"
                   aria-controls="datatable-buttons"><span><i
                        class="red fa fa-remove"></i>删除</span></a>-->

            </div>
            <div class="form-inline col-xs-12" >
                <div class="">
                    <div>
                        <label class="col-xs-6" style="font-size: larger;margin-top: 5px;">提案标题：$!beans.title   </label>
                        <!--<label style="font-size:larger;margin-top: 5px;" class="col-xs-6">评分：$!beans.score</label>-->
                    </div>
                    <div>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-6">申请人：$!beans.applyerName</label>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-6">申请单位：$!beans.deptName</label>
                    </div>
                    <div>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-6">申报时间：$help.formatDateToString($!beans.time,"yyyy-MM-dd")</label>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-6">建议承办单位：$!beans.undertakeDept</label>
                    </div>
                    <div>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-6">电话：$!beans.phone</label>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-6">邮箱：$!beans.mail</label>
                    </div>
                    <div>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-6">附议人：$!beans.proposalPerson</label>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-6">类别：$!beans.type</label>
                    </div>
                    <div>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-12">案由：$!beans.reason
                        </label>
                    </div>
                    <div>
                        <label style="font-size: larger;margin-top: 5px;" class="col-xs-12">提案内容：$!beans.content
                        </label>
                    </div>
                    <!--<div >-->
                    <!--<label style="font-size: larger;margin-top: 5px;" class="col-xs-12">意见：$!beans.suggestion</label>-->
                    <!--</div>-->


                </div>

            </div>
        </div>

    </div>
</div>






