$ui.loadCss("bootstrap-multiselect/bootstrap-multiselect.css")
<style>
    .multiselect-container .multiselect-group{background-color: #337AB7;}
    .multiselect-container .multiselect-group a{color: #ffffff}

    .dq_lc03_certificate{width: 900px;margin-left: 100px;height: 600px;padding-top: 240px}
    .certi_section_1{font: 20px 微软雅黑;letter-spacing: 5px;text-indent: 50px;width: 380px;height: 230px;line-height: 40px;display: inline-block;}
    .certi_section_2{display: inline-block;width: 350px;height: 330px;float: right;margin-right: 90px;}
    .section_2_first{height: 80px}
    .section_2_first span:nth-child(1){font:  24px 微软雅黑;}
    .section_2_first span:nth-child(2){font:  bolder 18px 微软雅黑;width: 220px;display: inline-block;top: 0px;position: relative;}
    .section_2_third{height: 100px}
    .section_2_mainPeople{font:  bolder 18px 微软雅黑;}
    .section_2_span_1{width: 170px;display: inline-block}
    .certi_section_3{width: 430px;height: 100px;font: 16px 微软雅黑;margin-left: 10px}

</style>


<div style="background-image: url('images/dq_lc03.jpg');width: 1024px;height: 665px;" class="hidden hidden_image">
    <div class="dq_lc03_certificate">
        <div class="certi_section_1">
            <span>为表彰在促进新疆油田公司实验检测研究院<span class="js_projectName">第二届“五小”成果</span>活动中做出重要贡献者，特颁发此证书，以资鼓励。</span>
        </div>
        <div class="certi_section_2">

            <!--<div class="section_2_first">-->
                <!--<span>获奖项目：</span>-->
                <!--<span class="js_awardProject">降低更换Quizix6000高压精密躯体泵内部零件的频率</span>-->
            <!--</div>-->
            <table>
                <tr >
                    <td width="120px" class="section_2_first">
                        <span>获奖项目：</span>
                    </td>
                    <td style="font:  bolder 18px 微软雅黑">
                        <span class="js_awardProject">降低更换Quizix6000高压精密躯体泵内部零件的频率</span>
                    </td>
                </tr>
            </table>
            <div class="section_2_first">
                <span>奖励等级：</span>
                <span style="top: -3px" class="js_awardLevel">三等奖</span>
            </div>
            <div class="section_2_third">
                <div style="font:  24px 微软雅黑;margin-bottom: 20px">主要完成人：</div>
                <div class="section_2_mainPeople">

                </div>

            </div>
        </div>
        <div class="certi_section_3">
            <div class="certi_section_3_first">
                <span>实验检测研究院工会委员会</span>
                <span style="margin-left: 20px">共青团实验检测研究院委员会</span>
            </div>
            <div class="certi_section_3_second">
                <span style="margin-left: 50px" class="js_time_first">2015年8月</span>
                <span style="margin-left: 120px" class="js_time_second">2015年8月</span>
            </div>
        </div>

    </div>
</div>

<a class="hidden image_generate btn btn-default">生成和下载证书</a>
<div></div>


<div id="syy_workAchievements_v" data-url="ajax_syy_dq_lc02_data" view_only="$viewOnly" form-no ="$header.id" form-kind="$header.formKind">

</div>
<script>
    require(["app/partyGroup/workAchievements"],function(workAchievements){
        workAchievements.pageLoad();
    });
</script>