
<div class=" x_panel  ">

    <div style="margin: auto;  text-align: center"><h3> $header.formKindName <small>#if($header.currentPointName)(
        $!header.currentPointName )#end</small></h3></div>
    <div class="x_title">

        <div class="row">
            <div class="col-xs-3" hidden>单号： $header.formNo</div>
            <div class="col-xs-3">申请人： $header.applyerName</div>
            <div class="col-xs-3">部门： $header.blongDeptName</div>
            <div class="col-xs-3">申请时间： $helper.formateMinDateToString($header.beginDate)</div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="content">
        #parse($view)
    </div>
    <div hidden>
        <div class="x_content">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab"
                                                              data-toggle="tab" aria-expanded="true">签核人列表</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab"
                                                        data-toggle="tab" aria-expanded="false">流程步骤</a>
                    </li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                        <div>
                            <table class="table table-striped table-bordered dataTable no-footer">
                                <thead>
                                <tr class="headings">

                                    <th class="column-title">编号</th>
                                    <th class="column-title">流程节点</th>
                                    <th class="column-title">审核人</th>
                                    <th class="column-title">实际审核人</th>
                                    <th class="column-title">审核时间</th>
                                    <th class="column-title">结果</th>
                                    <th class="column-title">签核备注</th>


                                </tr>
                                </thead>
                                <tbody>
                                #if($header.formApprovers)
                                #foreach($bean in $header.formApprovers)
                                #if($bean.ApproveStatus!="P")
                                <tr>
                                    <td class="num">$bean.appSerial</td>
                                    <td class="num">$!bean.roleName</td>
                                    <td>
                                        #if($bean.appName)
                                        $bean.appName
                                        #end
                                    </td>
                                    <td>
                                        #if($bean.appActorName)
                                        $bean.appActorName
                                        #end
                                    </td>
                                    <td class=" "> #if($bean.endDate)$bean.endDate #end</td>
                                    <td class=" "> #if($bean.appValue)
                                        #if( $bean.appValue=="Y")
                                        同意
                                        #end

                                        #if( $bean.appValue=="N")
                                        不同意
                                        #end
                                        #if( $bean.appValue=="B")
                                        打回
                                        #end
                                        #end
                                    </td>
                                    <td class=" "> #if($bean.appContent)$bean.appContent #end</td>
                                </tr>
                                #end
                                #end

                                #else
                                <tr>
                                    <td colspan="5" align="center">暂无数据</td>
                                </tr>
                                #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="wizard_steps">
                                #if($header.innerFormAppPointDtos)
                                #foreach($point in $header.innerFormAppPointDtos)
                                <li>
                                    <a href="#step-1" #if($header.currentAppPointId==$point.id) class="selected" #end>
                                        <span class="step_no">$point.appSerial</span>
                          <span class="step_descr">
                                            步骤 $point.appSerial<br/>
                                            <small>$!point.formApproveStepName</small>
                                        </span>
                                    </a>
                                </li>
                                #end

                                #else
                                <li>
                                    尚未配置审核信息
                                </li>
                                #end
                            </ul>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
