
<form id="detailProjectResultInfoForm" data-parsley-validate="" class="form-horizontal form-label-left " novalidate="">

    <input type="hidden" name="id" #if($beans) value="$beans.id" #end>
    <div class="form-group">
        <label class="control-label  col-xs-3" >序号 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_No #end</label>
    </div>
    <div class="form-group">
        <label class="control-label  col-xs-3" >时间 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_InputYear_Str #end</label>
    </div>
    <div class="form-group">
        <label class="control-label  col-xs-3" >名称及编号 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_Name #end</label>
    </div>
    <div class="form-group">
        <label class="control-label  col-xs-3" >专业类别 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_Type #end</label>
    </div>


    <!-- <div class="form-group">
         <label class="control-label  col-xs-3" for="win_Project">
             获奖项目 <span class="required">*</span>
         </label>
         <div class="col-xs-4">
             <input type="text" id="win_Project" required="required"  name="win_Project"
                    class="form-control col-md-7 col-xs-12" data-parsley-id="4639"><ul class="parsley-errors-list" id="parsley-id-3004"></ul>
         </div>
     </div>-->
    <div class="form-group">
        <label class="control-label  col-xs-3" >
            研究内容 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_Content #end   &nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
    <div class="form-group">
        <label class="control-label  col-xs-3" >
            承担单位 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_BearUnit #end   &nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
    <div class="form-group">
        <label class="control-label  col-xs-3" >
            参加单位 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_ParticipatingUnit #end   &nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
    <div class="form-group">
        <label class="control-label  col-xs-3" >
            项目开始时间 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($projectPlanStartTime)$projectPlanStartTime #end   &nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
    <div class="form-group">
        <label class="control-label  col-xs-3" >
            项目结束时间 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($projectPlanEndTime)$projectPlanEndTime #end   &nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
    <!--<div class="form-group">
        <label class="control-label  col-xs-3" >
            项目起止时间 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_StartEndTime #end   &nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>-->
    <div class="form-group">
        <label class="control-label  col-xs-3" >
            项目长 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_Manager #end   &nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>
    <div class="form-group">
        <label class="control-label  col-xs-3" >
            备 注 <span class="required">:</span>
        </label>
        <label class="control-label col-xs-4"  style="text-align: left;"> #if($beans)$beans.projectPlan_Remark #end   &nbsp;&nbsp;&nbsp;&nbsp;</label>
    </div>


    <div class="ln_solid"></div>
    <div class="form-group">
        <div class=" col-xs-6 col-xs-offset-3">
            <!--<a class="btn btn-primary cancel" href="javascript:history.go(-1);">返回</a>-->
            <a class="btn btn-primary cancel" href="javascript:history.go(-1);">返回</a>
            <!--<button type="submit" id="addOrUpdateProjectResult" data-url="ajax_add_update_projectResult" class="btn btn-success">提交</button>-->
        </div>
    </div>
</form>

<script>
    /*require(['app/awards/addProjectResult']);*/
    require(["app/projectInfo/projectPlan"]);
</script>
