
<div class="form-group col-xs-4">
    <div class="control-label ">
        <input type="hidden" name="projectName" value="$beans.projectName">
        <label id="projectName"  class=" col-md-7 col-xs-12" >
            项目名称:$beans.projectName
        </label>
    </div>
</div>
<div class="form-group col-xs-4">
    <div class="control-label ">
        <input type="hidden" name="projectPlanInfoTxt" value="$beans.projectPlanInfoTxt">
        <label id="projectPlanInfoTxt" class=" col-md-7 col-xs-12" >
            研究内容: $beans.projectPlanInfoTxt
        </label>
    </div>
</div>
<div class="form-group col-xs-4">
    <div class="control-label ">
        <input type="hidden" name="assumeCompany" value="$beans.assumeCompany">
        <label id="assumeCompany" class=" col-md-7 col-xs-12" >
            承担单位: $beans.assumeCompany
        </label>
    </div>
</div>
<div class="form-group col-xs-4">
    <div class="control-label ">
        <input type="hidden" name="joinComopany" value="$beans.joinComopany">
        <label id="joinComopany"  class=" col-md-7 col-xs-12" >
            合作单位: $beans.joinComopany
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label ">
        <input type="hidden" name="beginTime" value="$beans.beginTime">
        <label id="beginTime"  class=" col-md-7 col-xs-12" >
            开始时间: $beans.beginTime
        </label>
    </div>
</div>

<div class="form-group col-xs-4">
    <div class="control-label ">
        <input type="hidden" name="endTime" value="$beans.endTime">
        <label id="endTime"  class=" col-md-7 col-xs-12" >
            截至时间: $beans.endTime
        </label>
    </div>
</div>

<div class="form-group col-xs-12">
    <div class="control-label col-xs-12">
        <hr style="border: 1px solid silver;width: 100%"/>
    </div>
</div>

<div class="form-group col-xs-12">
    <div class="control-label ">
        <input type="hidden" name="leaderWord" value="$beans.leaderWord">
        <label id="leaderWord"  class=" col-md-7 col-xs-12" >
            单位领导审批意见: $beans.leaderWord
        </label>
    </div>
</div>

<div class="form-group col-xs-12">
    <div class="control-label ">
        <a href="javaScript:window.history.go(-1)" class="btn btn-default" style="background-color: #0e90d2;">返回</a>
    </div>
</div>

