$ui.loadCss("select2/select2.min.css")
$ui.loadCss("bootstrap-multiselect/bootstrap-multiselect.css")
<!--<form id="approveFormLot">

    <div class="x_panel">
        <div class="x_content">

            <div  style="text-align: center">
                <a type="button" class="appbtn btn btn-default" id="approve" btn-type="approver"><i
                        class="fa fa-check-square-o"></i>同意</a>
                #if($header.currentAppType=="A")
                &lt;!&ndash;<a type="button" class="appbtn btn btn-default" id="reject" btn-type="reject"><i&ndash;&gt;
                &lt;!&ndash;class="fa  fa-remove"></i>否决</a> &ndash;&gt;
                <a type="button" class="appbtn btn btn-default" id="goBack" btn-type="goBack"><i
                        class="fa  fa-mail-reply-all"></i>退回</a>
                #end
            </div>

            <div>
                <label>审核意见：</label>
            </div>

            <div>
                <textarea class="form-control" style="margin: 0px -0.5px 0px 0px; width: 100%; height: 100px;" id="allContent"></textarea>
            </div>

        </div>
    </div>
</form>-->

<!--<div class="x_panel">
    <h2> <label class="control-label">通知</label></h2>
    <div class="form-group col-xs-12">
        <div class="col-xs-4 ">
            <label class="control-label">通知标题: $main.baoTitle</label>
        </div>
        <div class="col-xs-4 ">
            <label class="control-label">填报时间: $main.baoBeginDate</label>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <div class="col-xs-8 ">
            <label class="control-label">填报要求: $main.baoContent</label>
        </div>
    </div>

</div>-->
<div class="x_panel">

    <div style="text-align: center;font-size: xx-small">
        #if($header.clStep==3)
        <h2>中心科管人员汇总审批</h2>
        #elseif($header.clStep==4)
        <h2>科研管理人员汇总审批</h2>
        #elseif($header.clStep==7)
        <h2>科研管理人员汇总审批</h2>
        #end
    </div>

    <form id="searchForm">
        <div class="col-xs-12">
            <label class="control-label col-md-2 col-xs-2" style="width:90px;height: 40px">专业类别：</label>
            <div class="col-xs-3" >
                <input type="text" class="form-control" name="special_Type">
            </div>
            <div class="col-xs-1">
                <input class="btn btn-default " type="button"  id="failAllQueryBtn0" value="查询">
            </div>
        </div>
        <div class="col-xs-12" >
    <!--        #if($header.clStep==2)  去除批示
            <label class="control-label col-md-1  col-xs-2">批示：</label>
            <div class="col-xs-4" >
                <textarea type="text" id="instruction" required="required" rows="3"
                          name="instruction"
                          class="form-control col-md-4 col-xs-4" ></textarea>
            </div>
            #end-->
            #if($header.clStep==4)
                <label class="control-label col-md-2 col-xs-2" style="width:90px;height: 40px">选择专家：</label>
                <div class="col-xs-4" >
                    <select class="select2_group form-control specialist_group" id="specialist" multiple="multiple">
                        #if($empDtos)
                        #foreach($item in $empDtos)
                        <optgroup  label="$item.deptName">
                            #foreach($e in $item.empDtos)
                            <option  value="$e.id">$e.name
                            </option>
                            #end
                        </optgroup>
                        #end
                        #else
                        <dd>暂无数据</dd>
                        #end
                    </select>
                    <input type="hidden" value="" name="employeeId" id="employeeId"style="border: none;">
                </div>
            #elseif($header.clStep==6)
            <label class="control-label col-xs-2"style="width:90px;height: 40px">审查意见：</label>
            <div class="col-xs-4" >
                <textarea type="text" id="review_Comments" required="required" rows="3"
                          name="review_Comments"
                          class="form-control col-md-4 col-xs-4" ></textarea>
            </div>
            #elseif($header.clStep==7)
                <label class="control-label col-md-1 col-xs-2" style="width:90px;height: 40px">
                    选择领导<span class="required">:</span>
                </label>
                <!-- col-lg-5-->
                <div class="col-xs-3"  id="tests1">
                    <!-- select2_group 下拉框样式-->
                    <select class="form-control col-xs-5 select2_group leader_name" name="choose_LeaderId">
                        #if($role)
                        #else
                        <option  value="">请选择</option>
                        #end
                        #foreach($item in $role)
                        <option  value="$item.id">$item.name
                        </option>
                        #end
                    </select>
                </div>

            #end

        </div>

    </form>
     &nbsp;
    <div id="table1"></div>
    <div class="col-lg-10 dataTables_paginate  ">
        <ul class="pagination "></ul>
    </div>

</div>
<input type="hidden" id="hidname" name="hidname"/>
<input type="hidden" id="formNo_OpenFlow" name="formNo_OpenFlow"/>
<input type="hidden" id="list_projectNo" name="list_projectNo"/>
<input type="hidden" name="applyer" value="$header.applyer">
#if($header.clStep==11)
<div class="col-xs-12">
    <label class="control-label col-xs-4" style="font-size: larger;width:160px;">审批会议纪要附件:
    </label>
    <input type="file" name="projFile" id="upFile">
    <!-- <input type="button" id="upload" value="上传">
 -->
</div>
<div id="filesHtml"></div>
#end
<script>
    require(["app/projectInfo/unit_Leadership_Summary"]);
</script>




