

<div>
    Hello!
    <div class="" style="background-color: #abc;">
        计算机天堂测试html5页面截图
        <br>jsjtt.com
        <img src="images/dq_lc03.jpg" height="900px"/>
        <!--<div style="background: url('images/dq_lc03.jpg');width: 1250px;height:900px;"></div>-->
    </div>
    <button type="button" class="aa">sdfd</button>
    <textArea id="textArea" col="20" rows="10" ></textArea>
    <input class="example1" type="button" value="生成">
    <a class="example2">下载</a>
    <input >
</div>

生成界面如下：







<script>
    require(["app/partyGroup/image"]);
</script>



