<style>
    .tableBusiness, .tableCunGen {border: 1px solid #E1E1E1;width: 100%;}
    .tableBusiness tr, .tableCunGen tr{border: 1px solid #E1E1E1;}
    .tableBusiness tr td, .tableCunGen tr td{border: 1px solid #E1E1E1;text-align: center;padding: 10px 20px;}
    .tableCunGen tr td{text-align: left;}
</style>


<div style="width: 100%;">

    <div style="width: 20%;float: left;">
        <h1 style="text-align: center">存根</h1>
        <div style="width: 100%;">
            <table class="tableCunGen">
                    <tbody>
                    <tr>
                        <td>单位</td>
                        <td>dsds</td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>工作任务</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>出差期限</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>派遣地点</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>出发日期</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>返回日期</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height: 30px;text-align: left;">
                            备注：
                        </td>

                    </tr>
                    </tbody>
                </table>
        </div>
    </div>

    <div style="float: left;width: 98px;text-align: center;word-spacing: 100px;line-height: 45px;margin-top: 60px;" >
        既
        （2017）
        差
        字
        第
        （0001）
        号
    </div>

    <div style="width: 60%;float:left;">
        <h1 style="text-align: center;">员工油田现场出差证</h1>
        <table class="tableBusiness">
            <tbody class="">
            <tr>
                <td rowspan="2" colspan="2" style="vertical-align: middle;">车号</td>
                <td colspan="2" style="vertical-align: middle;">起讫地点</td>
                <td colspan="2" style="vertical-align: middle;">时间记录</td>
                <td rowspan="2" colspan="2" style="vertical-align: middle;">天数</td>
                <td rowspan="2" colspan="2" style="vertical-align: middle;">任务</td>
                <td rowspan="2" colspan="2" style="vertical-align: middle;">主管领导签字</td>
                <td rowspan="2" colspan="2" style="vertical-align: middle;">备注</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">由何处</td>
                <td style="vertical-align: middle;">到何处</td>
                <td style="vertical-align: middle;">出发</td>
                <td style="vertical-align: middle;">返回</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
