</br>
<div class=" x_panel  ">
    <div class="x_title">
        <h2>流程管理/formList
            <small>- 表单管理</small>
        </h2>

        <div class="clearfix"></div>
    </div>
    <div class="content">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <strong>描述!</strong> 表单管理.
        </div>
        <div class="row">
            <div class=" btn-group  col-xs-4">
                <a class="i_modal btn btn-default buttons-copy buttons-html5 btn-sm" data-title="添加表单"
                   data-url="/_addOrUpdateForm"><span><i class="green fa fa-plus"></i>新增</span></a>
                <a class="btn btn-default buttons-copy buttons-html5 btn-sm" id="deleteForm"  tabindex="0"
                   aria-controls="datatable-buttons"><span><i
                        class="red fa fa-remove"></i>删除</span></a>
            </div>
        </div>
        <div class="row">

            <div class="form-inline" >
                <form id="searchForm"  class="pull-right" data-url="ajax_formlistQuery_list">

                    <div class="form-group">
                        <label class="control-label" >流程名称
                        </label>  <input type="text" class="form-control " style="margin-bottom: 5px" name="formName">
                        <!--<label class="control-label" >流程类型-->
                        <!--</label>  <input type="text" class="form-control " style="margin-bottom: 5px" name="formKind">-->
                        <input type="button" class="btn btn-default" id="formQueryBtn" value="查询">
                    </div>
                </form>
            </div>
        </div>
        <div id="table"></div>
        <div class="col-lg-10 dataTables_paginate  ">
            <ul class="pagination "></ul>
        </div>
    </div>
</div>
<script>
    require(["app/workflow/formlist"]);
</script>