</br>
<div class=" x_panel  ">
    <div class="x_title">
        <h2>流程管理/
            <small>- 部门已办工作</small>
        </h2>

        <div class="clearfix"></div>
    </div>
    <div class="content">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <strong>描述!</strong> 我部门参与已经签核过的流程
        </div>
        <div class="row">


            <div class="form-inline   col-xs-12" style="margin-bottom: 15px">
                <form id="searchForm"  class="pull-left"  data-url="ajax_queryFormHeaderDeptApproved">

                    <div class="form-group">

                        <label class="control-label" >流程类型</label>
                        <select class="form-control" name="formTypeName">
                            <option value="">请选择</option>
                            #if($beans)
                            #foreach($bean in $beans.items)
                            <option value="$bean.formKind">$bean.formName</option>
                            #end
                            #end
                        </select>

                        <input type="hidden" name="type" value="approver">
                        <input type="hidden" name="approver" value="$userInfo.id">
                        <input type="hidden" id="wappStatus" name="appStatus" value="A">

                        <!--<label class="control-label" >流程状态</label>-->

                        <!--<input type="hidden" name="formStatus" value="AP">-->
                        <!--<label class="control-label" >部门</label>-->
                        <!--<input type="text" class="form-control " name="deptName">-->

                        <label class="control-label" >申请人</label>
                        <input type="text" class="form-control " name="applyerName">

                        <!--<label class="control-label" >流程状态</label>-->
                        <!--<input type="text" class="form-control "  name="formStatus">-->

                        <label class="control-label" >时间:  </label>
                        <label class="control-label" >
                            <input type="text" class="form-control mini-width Wdate" id="driver-bgtime"  style="float: left;width: 160px" placeholder="开始时间"
                                   name="beginDate" >
                        </label>~
                        <label class="control-label" >
                            <input type="text" class="form-control mini-width Wdate" id="driver-edtime"  style="float: left;width: 160px" placeholder="结束时间"
                                   name="endDate" >
                        </label>

                        <input type="button" class="btn btn-default" id="formHeaderQueryBtn" value="查询" style="position: relative;top: 0.2em;">
                    </div>
                </form>
            </div>
        </div>
        <div id="table"></div>
        <div class="col-lg-10 dataTables_paginate  ">
            <ul class="pagination "></ul>
        </div>
    </div>
</div>

<script>
    require(["app/workflow/formHeaderWork"]);
</script>