
<form id="addfloder" data-parsley-validate="" class="form-horizontal form-label-left " novalidate="">
    <div class="form-group">
        <label class="control-label  col-xs-3" for="upFile">选择文件 <span class="required">*</span>
        </label>
        <div class="col-xs-6">
            <input type="file" id="upFile" name="myfiles" style="padding-top: 5px;"/>
        </div>
    </div>
<br>
    <br>

    <div class="form-group">
        <div class=" col-xs-6 col-xs-offset-3">

            <button type="button" id="upload"   class="btn btn-success">上传</button>
            <button type="button" id="cancelModal" class="btn btn-primary">取消</button>
        </div>
    </div>

</form>



