<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="max-age:5000">
    <title>智能实验室平台-OA系统</title>
    <script data-main="js/rjs-config.js" src="js/require.js"></script>
    <script  src="js/jslib/jquery.min.js"></script>
    $ui.loadCss("bootstrap.min.css")
    $ui.loadCss("fonts/css/font-awesome.min.css")
    $ui.loadCss("animate.min.css")
    $ui.loadCss("custom.css")
    $ui.loadCss("icheck/skins/minimal/minimal.css")
    $ui.loadCss("style.css")
    <script>
        require(['app/init']);
    </script>
    <script>
        $(document).ready(function() {
            var b_name = navigator.appName;
            var b_version = navigator.appVersion;
            var version = b_version.split(";");
            var trim_version = version[1].replace(/[ ]/g, "");
            if (b_name == "Microsoft Internet Explorer") {
                /*如果是IE6或者IE7*/
                if (trim_version == "MSIE8.0" ||trim_version == "MSIE7.0" || trim_version == "MSIE6.0") {
                    $("#browser_ie").show();
                }
            }
        });
//        if (!$.support.leadingwhitespace) {
//            $("#browser_ie").show();
//        }
    </script>
</head>

<body class="nav-md" style="overflow: auto">
<div id="browser_ie" class=" row"
     style="background-color: gold;display: none;  padding: 5px;margin: 2px; height: 50px;color:#c0392b;">
    <div class="col-xs-5 text-right ">
        <p>检测到您的浏览器版本过低，可能导致网站不能正常访问！
            <br>为了确保您能更好的使用系统功能，请使用此类兼容的浏览器。</p>
    </div>
    <div class="col-xs-5 text-left">
            <span class="pull-left text-center" >
            <a href="app/Chrome.exe" target="_blank">
                <img src="images/chrome.png" height="25px"><br>chrome
            </a>
            </span>
            <span  class="pull-left  text-center" style="margin-left:10px; ">
                <a href="app/Firefox.exe" target="_blank"><img src="images/firefox.png" height="25px"><br>firefox
                </a>
            </span>
            <span class=" pull-left  text-center" style="margin-left:10px; ">
                <a href="app/IE11.EXE" target="_blank"><img src="images/ie.png" height="25px"><br>ie9及以上
                </a>
            </span>
            <span class="clearfix"></span>
    </div>
    <div class="col-xs-1 pull-right text-right red">
        <a id="closeKillIE" class="text-dangers">
            <li class="fa fa-close"></li>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="container body">


    <div class="main_container">
        <div class="col-md-3 left_col">
            #parse("/common/menu.html")
        </div>
        <div class="top_nav">
            #parse("/common/header.html")
        </div>

        <div class="right_col" role="main">
            #parse($view)
            <!-- footer content -->
            <!--底部
            <footer>
                <div class="copyright-info">
                    <p class="pull-right"></p>
                </div>
                <div class="clearfix"></div>
            </footer>-->

        </div>
    </div>
</div>
<script>
    $("#closeKillIE").click(function(){
        $("#browser_ie").hide();
    });
</script>
</body>
</html>