<style>
    .table .disabled input{background: none;border: none;padding:0px;margin:0px;}
    .table .disabled select{background: none;border: none;padding:0px;margin:0px;}
    .hidSelect{width: 60px; overflow: hidden;}
</style>
<div id="syy_emp_appraise_v" data-url="ajax_syy_rs_lc03_data" view_only="$viewOnly" form-no ="$header.id" form-kind="$header.formKind">

</div>
<div id="table2"></div>
<div class="col-lg-10 dataTables_paginate  ">
    <ul class="pagination "></ul>
</div>
<script>
    require(["app/forms/empappraise"],function(appraise){
        appraise.pageLoad();
    });
</script>