<div style="min-width: 800px">
    <input type="hidden" name="id" #if($leave)value="$leave.id" #end>
    <div class="form-group">
        <label class="control-label  col-xs-2" for="reason">年度考核标题<span class="required">*</span>
        </label>
        <div class="col-xs-5">
            <input type="text" id="reason" required="required" maxlength="50" #if($leave)value="$leave.appraisTitle" #end name="appraisTitle"
                   class="form-control  col-xs-7" data-parsley-id="2038" required="required">
            <ul class="parsley-errors-list" id="parsley-id-2036"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label  col-xs-2" for="target">年度考核内容<span class="required">*</span>
        </label>
        <div class="col-xs-5">
            <textarea type="text" id="target" required="required" #if($leave)value="$leave.description" #end name="description" maxlength="200"
                   class="form-control  col-xs-7" data-parsley-id="2038" required="required"></textarea>
            <ul class="parsley-errors-list" id="parsley-id-2038"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label  col-xs-2">考核开始时间<span class="required">*</span></label>
        <div class="col-xs-5">
        <input type="text" class="form-control mini-width Wdate" id="beginTime" required="required" #if($leave)value="$leave.evectionTime" #end
               placeholder="开始时间" name="strStartDate">
    </div>
    </div>

    <div class="form-group">
        <label class="control-label  col-xs-2">考核结束时间<span class="required">*</span></label>
        <div class="col-xs-5">
            <input type="text" class="form-control mini-width Wdate" required="required" id="endTime"  #if($leave)value="$leave.evectionTime" #end
                   placeholder="结束时间" name="strEndDate">
        </div>
    </div>

    <!--<div class="form-group">
        <label class="control-label  col-xs-2" for="reason">员工自评<span class="required">*</span>
        </label>
        <div class="col-xs-5">
            <select class="form-control">
                <option value="">请选择</option>
                <option value="优秀">优秀</option>
                <option value="称职">称职</option>
                <option value="不称职">不称职</option>
            </select>
        </div>
    </div>-->

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class=" col-xs-6 col-xs-offset-3">
            <button type="submit" id="qjSubmit" data-url="ajax_add_update_appraise" class="btn btn-success">提交</button>
            <a class="btn btn-primary" href="javascript:window.close();">取消</a>
        </div>
    </div>


</div>
<script>
    require(["app/forms/empappraise"]);
</script>




