<input type="hidden" id="formDelayApplyDto" value="$formDelayApplyDto.formNo">

#if($viewOnly=="false")
<div class="form-group col-xs-12">
    <div class="control-label col-xs-4">
        <input type="hidden"  name="delayName" value="$formDelayApplyDto.delayName">
        <label id="delayName" name="delayName" class=" col-md-7 col-xs-12" >
            <!--延期项目名称: $projectName-->
            延期项目名称:<!--<a href="/detailInfo?id=$scId&projectID=$projectID">$projectName</a>-->
            <a href="/detailInfo?id=$scId&projectID=$projectID">$projectName</a>
        </label>
    </div>
</div>

<div class="form-group col-xs-12">
    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            负责人: $leaderName
        </label>
    </div>

    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            项目编号: $projectNo
        </label>
    </div>

    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            承担单位: $assumeCompany
        </label>
    </div>
</div>

<div class="form-group col-xs-12">

    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            项目开始时间: $beginTime
        </label>
    </div>

    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            项目结束时间: $endTime
        </label>
    </div>

</div>

<div class="form-group col-xs-12">
    <div class="control-label col-xs-12">
        <hr style="border: 1px solid silver;width: 100%"/>
    </div>
</div>

<div class="form-group col-xs-12">
    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            项目延期日期: $formDelayApplyDto1.delayTime
        </label>
    </div>
</div>

<div class="form-group col-xs-12">
    <div class="control-label col-xs-6">
        <input type="hidden"  name="delayReason" value="$formDelayApplyDto.delayReason">
        <label id="delayReason" name="delayReason" class=" col-md-7 col-xs-12" >
            延期理由: $formDelayApplyDto1.delayReason
        </label>
    </div>
</div>

    #if($formDelayApplyDto1.fileName)
        <div class="form-group col-xs-12">
            <div class="control-label col-xs-12">
                <label class=" col-md-7 col-xs-12" >
                    延期附件: <a href="/downloadFile?id=$formDelayApplyDto1.fileId">$formDelayApplyDto1.fileName</a>
                </label>
            </div>
        </div>
    #end

<div class="form-group col-xs-12" >
    <label class="control-label  col-xs-2">基层单位领导审批 : <span class="required"></span>
    </label>

    <div class="col-xs-6">

        <textarea type="text" id="leaderWord" required="required" rows="5"
                  name="leaderWord"
                  class="form-control col-md-7 col-xs-12" ></textarea>
    </div>
</div>
#end

#if($viewOnly=="true")
<div class="form-group col-xs-12">
    <div class="control-label col-xs-4">
        <input type="hidden"  name="delayName" value="$formDelayApplyDto.delayName">
        <label name="delayName" class=" col-md-7 col-xs-12" >
            <!--延期项目名称: $projectName-->
            延期项目名称:<a href="/detailInfo?id=$scId&projectID=$projectID">$projectName</a>
        </label>
    </div>
</div>

<div class="form-group col-xs-12">
    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            负责人: $leaderName
        </label>
    </div>

    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            项目编号: $projectNo
        </label>
    </div>

    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            承担单位: $assumeCompany
        </label>
    </div>
</div>

<div class="form-group col-xs-12">

    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            项目开始时间: $beginTime
        </label>
    </div>

    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            项目结束时间: $endTime
        </label>
    </div>

</div>

<div class="form-group col-xs-12">
    <div class="control-label col-xs-12">
        <hr style="border: 1px solid silver;width: 100%"/>
    </div>
</div>

<div class="form-group col-xs-12">
    <div class="control-label col-xs-4">
        <input type="hidden">
        <label class=" col-md-7 col-xs-12" >
            项目延期日期: $formDelayApplyDto1.delayTime
        </label>
    </div>
</div>

<div class="form-group col-xs-12">
    <div class="control-label col-xs-6">
        <input type="hidden"  name="delayReason" value="$formDelayApplyDto.delayReason">
        <label name="delayReason" class=" col-md-7 col-xs-12" >
            延期理由: $formDelayApplyDto1.delayReason
        </label>
    </div>
</div>

    #if($formDelayApplyDto1.fileName)
        <div class="form-group col-xs-12">
            <div class="control-label col-xs-12">
                <label class=" col-md-7 col-xs-12" >
                    延期附件: <a href="/downloadFile?id=$formDelayApplyDto1.fileId">$formDelayApplyDto1.fileName</a>
                </label>
            </div>
        </div>
    #end
#end

#if($viewOnly=="false")
<br/><br/><br/><br/><br/><br/><br/><hr/>
<div class="col-lg-1  pull-right">
    <a class="label label-default" data-title="批量审核" href="syy_kg04_pl2?formNo=$formDelayApplyDto1.formNo"><i class="green fa "></i>批量审核项目</a>
</div>
#end

<script>
    require(['app/delay_flow/syy_kg_lc04']);
</script>
