
    <form id="addDeptForm" data-parsley-validate="" class="form-horizontal form-label-left " novalidate="">
        确定要删除编号为 <span id="noticeId">$id</span>新闻信息吗？

        <div class="form-group">
            <div class=" col-xs-6 col-xs-offset-3">

                <button type="submit" id="addOrUpdateDept" data-url="$id"
                        class="btn btn-success">提交</button>
                <button type="button" id="cancelModal" class="btn btn-primary">取消</button>
            </div>
        </div>

    </form>
